<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h2>Add Product</h2>

    <form method="POST">

        <label>Code From</label><br>
        <input type="text" name="code_from" required><br><br>

        <label>Code To</label><br>
        <input type="text" name="code_to" required><br><br>

        <label>Category</label><br>
        <input type="text" name="category" required><br><br>

        <button type="submit">Add Product</button>
    </form>

    <br>
    <a href="/admin">⬅ Back to Dashboard</a>

</div>

</body>
</html>